In [1]:
pip install PyMuPDF

Collecting PyMuPDF
  Downloading https://files.pythonhosted.org/packages/81/75/442a1bcc89569453969f34a53000e8a80e3da13367e3e29b81b5137ef388/PyMuPDF-1.18.3-cp36-cp36m-manylinux2010_x86_64.whl (6.3MB)
     |████████████████████████████████| 6.3MB 5.9MB/s
Installing collected packages: PyMuPDF
Successfully installed PyMuPDF-1.18.3

In [ ]:
import fitz
import numpy as np
import pandas as pd

In [6]:
df = fitz.open('a.pdf')
page = df[0]
wordlist = page.getText("words")
x = []
y= []
word = []
for i in wordlist:
  x.append(i[0])
  y.append(i[1])
  word.append(i[4])
cord = {'x-cord':x, 'y-cord':y}
pd.DataFrame(cord, index = word)

                x-cord      y-cord
Page        466.199982  734.191589
1           488.760010  734.191589
of          496.318726  734.191589
16          507.239990  734.191589
Food        227.759995   69.631531
...                ...         ...
and         195.174545  682.111572
other       213.573883  682.111572
electronic  239.362564  682.111572
devices     284.216980  682.111572
BANNED:     318.382263  682.111572

[416 rows x 2 columns]